// component css goes here
.benches {
    .bench {
        .number {
            text-align: center;
        }
    }

    .summary {
        .legend {
            text-align: center;
        }
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }
}